/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    background-color: #00050a;
    color: white;
    text-align: center;
    padding: 10px 0;
}
nav {
    display: flex;
    /* margin-bottom: 10px; */
    align-items: center;
}

nav img {
    width: 130px;
    height: 90px;
    display: flex;
    align-items:start;
    margin-bottom: 30px;
    margin-right: 300px; /*espace entre l'image et les liens */
    margin-left: 20px;
    border-radius: 30%;
}

header nav a, footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
}

header nav a:hover, footer a:hover {
    text-decoration: underline;
}
/* menu humberger */
.menu-icon { 
    display: none; 
    font-size: 30px;
    cursor: pointer;
} 
#menu-toggle { 
    display: none; 
}
 
main {
    padding: 20px;
    background: #e2e9f4;
} 
h1 {
    text-align: center;
}

section h1, section h2 {
    text-align: center;
    margin-bottom: 20px;
}

section {
    background: #d9dadc;
    margin: 10px ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px); /* Trois sections par ligne avec un espacement */
    flex: 1;/* Permet aux sections de prendre une taille égale */ 
    text-align: center;
}

#youngthug{
    height: 100%;
}

/* Conteneur principal */
.main-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;/*Pour espacer les sections */ 
}

section img { 
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    margin-bottom: 10px;
    border-radius: 4px;
}
section p { 
    text-align: justify; 
    color:rgb(40, 37, 9);
    font-size: 1.2em;
}

/* Styles pour le lien en forme de bouton */
.button-link {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #f70505c6;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 10px 0;
}

.button-link:hover {
    background-color: #75f00a;
    color: #030700;
}

footer a{
    padding: 5px; 
}
/* Media Queries */

/* Styles pour les petits appareils (téléphones) */
@media (max-width: 819px) {
    nav {
        flex-direction: column;
        display: none; 
        width: 100%; 
        align-items: center;
    }

    header:has(h2) {
        font-size:0.9em;
        
    }
    section:has(h2) {
        font-size:0.8em;
    }

    nav img {
        width: 80px;
        height: 60px;
        margin: 0 auto;
    }

    header nav a, header nav img { 
        padding: 10px; 
        border-top: 1px solid #444; 
        text-align: center;
    } 

    .menu-icon { 
        display: block; 
        position: absolute; 
        top: 10px; 
        left: 20px;
    } 

    #menu-toggle:checked + .menu-icon + nav { 
        display: flex; 
    }

    main {
        padding: 10px;
    }
    
    h1{
        font-size: 1.4em;
    }
    .main-container { 
        flex-direction: column; 
        flex-wrap: wrap; 
        gap: 20px; 
    } 

    section img, section h3 { 
        text-align: center;
    } 
    section p {
        text-align: start;
    }
}
/* Styles pour les appareils moyens (tablettes) */
@media (min-width: 820px) and (max-width: 1365px) {
    header nav {
        flex-direction: row;
    }

    .main-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
}

/* Styles pour les grands appareils (ordinateurs de bureau) */
@media (min-width: 1366px) {
    header nav {
        flex-direction: row;
    }

    .main-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }   
}

/* ---------------- */



