/* Structure générale */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cf0000;
    color: #333;
}

header img {
    width: 770px;
    height: 90px;
    display: block; /* Évite les marges indésirables */
    margin: 0 auto; /* Centre l'image horizontalement */
}


header, footer {
    background-color: #fff700;
    color: rgb(215, 0, 0);
    text-align: center;
    padding: 10px 0;
}


header nav a, footer a {
    color: rgb(0, 0, 0);
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover, footer a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    background: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #003f7f;
}

/* Menu burger */
.menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 1001;
}

.menu span {
    display: block;
    height: 4px;
    width: 30px;
    margin: 5px 0;
    background-color: #333;
    border-radius: 2px;
}

#toggle-menu {
    display: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Responsive menu */
@media (max-width: 880px) {
    .menu {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #fff700;
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0;
        z-index: 1000;
    }

    #toggle-menu:checked ~ nav .nav-links {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }
}

/* Galerie Photos et Vidéos */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.gallery .item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* Adaptation pour écrans plus petits */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}
                